[submodule "3rdlibs/glfw"]
	path = 3rdlibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdlibs/gecs"]
	path = 3rdlibs/gecs
	url = https://github.com/VisualGMQ/gecs.git
[submodule "3rdlibs/mirrow"]
	path = 3rdlibs/mirrow
	url = https://github.com/VisualGMQ/mirrow.git
[submodule "3rdlibs/efsw"]
	path = 3rdlibs/efsw
	url = https://github.com/VisualGMQ/efsw.git
[submodule "3rdlibs/freetype2"]
	path = 3rdlibs/freetype2
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "3rdlibs/lunasvg"]
	path = 3rdlibs/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "3rdlibs/easy_profiler"]
	path = 3rdlibs/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "3rdlibs/tinygltf"]
	path = 3rdlibs/tinygltf
	url = https://github.com/syoyo/tinygltf.git
