[submodule "3rdlibs/glfw"]
	path = 3rdlibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdlibs/gecs"]
	path = 3rdlibs/gecs
	url = https://github.com/VisualGMQ/gecs.git
[submodule "3rdlibs/mirrow"]
	path = 3rdlibs/mirrow
	url = https://github.com/VisualGMQ/mirrow.git
[submodule "3rdlibs/efsw"]
	path = 3rdlibs/efsw
	url = https://github.com/SpartanJ/efsw.git
