module.AddClass<{{class_type}}>("{{class_name}}")
    {{#class_static_fields}}
    .AddStaticField<&{{class_static_field_type}}>("{{class_static_field_name}}")
    {{/class_static_fields}}
    {{#class_fields}}
    .AddField<&{{class_field_type}}>("{{class_field_name}}")
    {{/class_fields}}
    {{#class_functions}}
    .AddField<&{{class_function_type}}>("{{class_function_name}}")
    {{/class_functions}}
    {{#class_enums}}
    {{class_enum_binding}}
    {{/class_enums}}
.EndClass();