::nickel::refl::factory<{{class_name}}>::instance()
    .regist("{{class_register_name}}")
    {{#properties}}
    .property("{{property_register_name}}", &{{property_name}})
    {{/properties}}
    ;