module.AddClass<{{class_type}}>("{{class_name}}")
    {{#class_properties}}
    .AddProperty<&{{property_type}}>("{{property_name}}")
    {{/class_properties}}
    {{#class_enums}}
    {{class_enum_binding}}
    {{/class_enums}}
.EndClass();